<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Head, Link } from '@inertiajs/inertia-vue3';
import BreezeNavLink from '@/Components/NavLink.vue';
import { Inertia } from '@inertiajs/inertia';

</script>

<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Fruits
            </h2>
        </template>



        <div class="py-12">
            <div class="mx-auto sm:px-6 lg:px-8">

                <div v-if="message != null">{{message}}</div>

                <div class="flex justify-end">
                    <Link class="mb-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" :href="route('fruits.create')">
                        +Add
                    </Link>
                </div>  

                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="w-full p-6 bg-white border-b border-gray-200">
                      
                        <table class="w-full table-auto">
                            <thead>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr class="text-center h-12" v-for="fruit in fruits" v-bind:key="fruit.id">
                                    <td>
                                        <BreezeNavLink :href="route('fruits.edit', fruit.id)">
                                            {{ fruit.name }}
                                        </BreezeNavLink>
                                    </td>
                                    <td>{{ fruit.description }}</td>
                                    <td>
                                        <Link 
                                            @click="destroy(fruit)"
                                            class="mb-3 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                            > 
                                            Delete
                                        </Link>
                                    </td>                                
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
    export default {

        props: {
            fruits: Object,
            message: String
        },
        methods: {
            destroy : function(fruit) {
                if (!confirm("Are you sure?")) return;
                console.log(fruit);
                Inertia.delete(route("fruits.destroy", fruit.id));
            }, 
        },  
        mounted() {
            console.log('FruitIndex mounted.');
        }
    }
</script>
